* {
    margin: 0;
}

body {
    margin-left: 10vw;
    margin-right: 10vw;
    background-color: #12163a;
}

.main {
    padding-top: 20vh;
    padding-bottom: 20vh;
    background-color: floralwhite;
}

.nav {
    position: relative;
    background-color:#12163a;
    margin-bottom: 4.95vh;
    margin-top: 4.95vh;
}

.nav ul {
    justify-content: center;
    padding: 0vw 0vw;
    display: flex;
    list-style: none;
}

.nav ul li a{
    font-family: josefin sans;
    font-weight: 300;
    color: whitesmoke;
    padding-top: 0.45em;
    font-size: 1.45rem;
    margin: 0.75vw;
    text-decoration: none;
    position: relative;
    transition: all ease-in-out 200ms;
}

.nav ul li a:hover{
    color: white;
}

.nav ul li a::before {
	content: "";
	display: block;
	height: 0.10em;
	width: 0%;
	position: absolute;
	top: 0;
    left: 0;
	transition: all ease-in-out 200ms;
    background-color: transparent;
}

nav ul li a:hover::before {
    width: 100%;
    opacity: 100%;
    background-color: red;
}

h1 {
    margin-left: 1.95rem;
    text-align: left;
    font-weight: 400;
    font-family: monospace;
    color: brown;
    font-size: 2rem;
    float: left;
}

h2 {
    margin-right: 1.95rem;
    text-align: right;
    font-family: monospace;
    font-weight: 400;
    color:rgb(2, 2, 22);
    font-size: 1.90rem;
}

h3 {
    padding-top: 0.75em;
    font-size: 1.15rem;
    margin-left: 1.95rem;
    margin-right: 1.95rem;
    font-family: josefin sans;
    font-weight: 400;
}

p {
    padding-top: 1.5rem;
    align-content: center;
    margin-left: 1.95rem;
    margin-right: 1.45rem;
    padding-bottom: 5rem;
    font-size: 1.25rem;
    font-family:'Courier New', Courier, monospace;
    color: rgb(27, 2, 2);
}

.btn {
    font-size: 1.15rem;
    text-decoration: none;
    color: whitesmoke;;
    font-family: monospace;
    margin: 0rem;
    padding: 0.55em 1.15em;
    border-radius: 0.40em;
    margin: 1.95em;
    background-color: brown;
    transition: ease-in-out 75ms;
}

.btn:hover {
    background-color: rgb(122, 21, 21);
}